@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kumbh-sans-v22-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/kumbh-sans-v22-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/kumbh-sans-v22-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/kumbh-sans-v22-latin-700.woff2') format('woff2');
}
body{
  background-color: #FCFAFA;
  font-family: 'Kumbh Sans';
}

.active{
  background-color: #509CDB;
}
.navlink-last:last-child{
  position: relative;
  top: 115px;
}
.navlink-last:last-child::after{
  content: "New";
  width: 41px;
  height: 14px;
  position: absolute;
  bottom: 30;
  right: 45px;
  background-color: #B9D7F1;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 8px;
}